<?php

// Just in case server configuration is malformed
!defined('_GRR_WEB') && die('Direct access not allowed');

return [
    // $ openssl rand -hex 32
    'secret' => '',
    // one of: local | prod
    'config' => 'local',
    // in seconds
    'token_time' => 3600,
    // must be absolute
    'rclone_config_path' => '/home/user/.config/rclone/rclone.conf',
];
